.accom-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.accom-container:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.accom-header {
    display: flex;
    text-align: left;
    .name {
        flex: 1;
        margin-left: 5px;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.accom-body {
    display: flex;
    align-content: space-between;
    flex-flow: row wrap;
    .body-item {
        flex: 1;
        margin-left: 10px;
    }
}

.distance {
    text-align: right;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 600;
    span {
        font-size: 12px;
        font-weight: 500;
    }
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #fff;
}