.profile {
    .header {
        text-transform: capitalize;
        font-weight: 600;
    }
    .panel-heading {
        text-align: center;
    }
    .avatar {
        width: 150px;
    }
    .abstracts-avatar {
        width: 80px;
    }
    .avatar-container {
        text-align: center;
        .thumbnail {
            display: inline;
            margin-bottom: 0;
        }
    }
    .details-container,
    .file-container {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        .abstract-details {
            display: flex;
            justify-content: space-between;
            background-color: lighten(#000000, 93%);
            border-radius: 20px;
            padding: 3px;
            padding-left: 10px;
            margin-top: 10px;
            small {
                flex: 1;
                font-size: .7em;
            }
        }
        .abstract-title {
            font-weight: 600;
            font-size: .9em;
        }
        .profile-label,
        .profile-info {
            font-weight: 600;
            font-size: 0.9em;
        }
        .profile-label {
            color: darken(#a9a9a9, 5);
        }
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid lighten(#E13F30, 38);
        margin: 5px 0;
        padding: 0;
    }
    .bordered {
        border-bottom: 1px solid lighten($brand-primary, 35%);
        padding: 5px;
    }
}

.accordion {
    background-color: #eee;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:hover {
    background-color: #ddd;
}

.topics-panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}