
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.text-align-just{
    text-align:justify;
}

.text-align-left{
    text-align:left;
}
.conference-img{
    width: 300px;
}

.conference-img-lg{
    width: 500px;
}

