.admin-abstract-list{
      display: flex;
      align-items: start;
      .image{
            margin-top: 15px;
        h2{
          margin-top: 5px;
          text-align: center;
          font-weight: 600;
        }
      }
      .details{
        width: 100%;
        .table-header{
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 2px solid rgba(0,0,0,.1);
          height: 43px;
          margin: 0 5px;
          .head-item{
            height: 100%;
            display: flex;
            align-items: center;
            font-weight: 600;
            padding: 0 5px;
            flex: 1;
            border-right: 2px solid rgba(0,0,0,.1);
            .contacts{
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              width: 100%;
            }
          }
        }
        .abstracts{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 20px 5px;
          .body{
            display: flex;
            align-items: center;
            .abstract-count{
              h4{
                font-weight: 600;
                margin-right: 2px;
                font-size: 1em;
              }
            }
          }
          .title{
                flex: 1;
                margin-left: 10px;
                font-weight: 600;
                font-size: 1.1em;
                padding-right: 5px;

          }
          .conference{
            width: 90px;
            height: 20px;
            color: darken(rgb(227, 73, 59),10%);
            background-color: lighten(#777777,40%);
          }
          .footer{
            .footer-text{
              margin: 10px 100px;
              font-size: .9em;
              text-align: justify;
              border-bottom: 1px dotted lightgray;
              padding-bottom: 10px;
              margin-left: 130px;
            }
          }
        }

      }
}
.navbar-brand{
  font-size: 1.2em;
}
.pagination-links{
  text-align: center;
  padding-bottom: 20px;
  .pagination {
    margin: 5px 0
}
}
.admin-home{
  a{
    color: #636b6f;
    text-decoration: none;
  }
  .panel-body{
    h1{
      text-align: center;
      font-weight: 600;
      small{
        color: #e13f30;
        font-weight: 600;
        font-size: 0.8em;
      }
    }
    .summary-container{
      display: flex;
      font-size: 0.5em;
      justify-content: space-between;
      padding-top: 10px;
      border-top: 1px dotted rgba(0,0,0,.2);
      .authors{

      }
    }

  }
}
.page-title{
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  align-items: center;
  h3{
    text-transform: uppercase;
  }
}
