.header,
.stall-card-title {
  color: rgba(0, 0, 0, 0.5) !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-family: "Montserrat" !important;
}
.default-section {
  background: url("/compiled/images/honey-comb.svg") no-repeat;
  background-position: top;
  background-size: contain;
}
.important-dates {
  width: 100%;
  display: flex;

  .image {
    flex: 1;
    width: 50%;
    img {
      width: 100%;
    }
  }
  .dates {
    flex: 1;
    margin-left: 20px;
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    .image {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
.latest-posts {
  // background-image: linear-gradient(10deg, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(
    179.73deg,
    rgba(225, 63, 48, 0.2) -7.5%,
    rgba(255, 193, 94, 0.03) 79.65%
  );
  .header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    font-family: "Montserrat";
    color: rgba(0, 0, 0, 0.5);
  }
  .topics-li {
    i,
    p {
      color: rgba(0, 0, 0, 0.7) !important;
    }
  }
}
.price-plans {
  background: url("/compiled/images/mountains.svg") no-repeat;
  background-position: center;
  background-size: cover;

  .header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    font-family: "Montserrat";
    color: rgba(0, 0, 0, 0.5);
  }
  .buy-button {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
.main-footer {
  background: #dfe2e6 !important;
  h2 {
    color: rgba(0, 0, 0, 0.4) !important;
    font-size: 2rem !important;
  }
}
.footer-bottom,
.sponsors {
  background: transparent;
  .footer-logo {
    color: rgba(0, 0, 0, 0.6) !important;
  }
  img {
    filter: grayscale(100%);
  }
}
