.page-title {
  width: 100vw;
  height: 200px;
  background: url("/compiled/images/sun-set.svg") no-repeat;
  background-position: bottom;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat";
  }
  @media only screen and (max-width: 768px) {
    background-size: contain;
    h1 {
      font-size: 2rem;
      text-align: center;
    }
  }
  @media only screen and (min-width: 2000px) {
    background-size: cover;
  }
}

.main-footer {
  background: url("/compiled/images/mountains.svg") no-repeat;
  background-position: center;
  background-size: cover;
  h2 {
    color: rgba(0, 0, 0, 0.4) !important;
  }
}
.footer-bottom,
.sponsors {
  background: transparent;
  .footer-logo {
    color: rgba(0, 0, 0, 0.6) !important;
  }
  img {
    filter: grayscale(100%);
  }
}
